.customerwrapper{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.cutomerinfomain{
    flex: 1;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgb(215, 212, 212);
    display: flex;
    max-width:min(450px,90%);
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
    flex-direction: column;
    max-height: fit-content;
    margin-top: 1vh;
}
.customerdetails{
    display: flex;
    padding: 8px;
    gap: 10px;
    flex-direction: column;
}
.proceedfromcustomerinfo:hover{
    transform: scale(1.02);
    transition: all 0.3s;
    text-decoration: underline;
    cursor: pointer;
}
.proceedfromcustomerinfo{
    height: fit-content;
    padding: 3px;
    border:none;
    border-radius: 8px;
}
.customername,.customernameip,.customercontact,.customercontactip,.discountip,.taxesip,.amounttobepaid,.subTotal,.amounttobepaidip,.subTotalip{
    border-radius: 4px;
    padding: 4px;
    font-weight: 600;
    font-size: 1.3rem;
}
.customercontactip,.customernameip,.discountip,.taxesip,.amounttobepaidip,.subTotalip{
    border: 0.5px solid black;
}